/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------General ----------------------------- */
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 70%;
  margin: auto;
}

.hero-title {
  font-family: "Baskervville", serif;
  font-size: 70px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 20px 0px;
}

.subtitle {
  font-family: "Baskervville", serif;
  font-size: 46px;
  font-weight: 400;
  margin: 20px 0px;
}

.sub-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5rem;
  margin: 20px 0px;
  font-weight: 500;
}

.body1 {
  font-family: "Baskervville", serif;
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0px;
}

.body2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0px;
}

.small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 200;
}
.primary-btn {
  color: #fff;
  background-color: #b40000;
  border-radius: 5px;
  padding: 20px;
  border: 0px;
  margin-top: 20px;
  font-size: 16px;
}
.primary-btn:hover {
  color: #fff;
  background-color: #ff6f00;
  cursor: pointer;
}
.btn-outlined {
  color: #b40000;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.btn-outlined:hover {
  color: #fff;
  background-color: green;
}

.practice-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.right-curve-container {
  border-top-right-radius: 30%;
}
.left-curve-container {
  border-top-left-radius: 30%;
}

/* .blog-card {
} */
.body-link {
  text-decoration: none;
  padding: 10px 0px;
  border-bottom: 2px solid #b40000;
}
/* .footer-link {
} */

/* Header Area */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-top {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info-left ul,
.header-info-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-info-left ul li,
.header-info-right ul li {
  margin-right: 20px;
}

.header-info-left ul li a,
.header-info-right ul li a {
  color: #fff;
  text-decoration: none;
}

.header-social a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.header-bottom {
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 19px 0;
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 30px;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu nav {
  margin-left: 20px;
}

.main-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-menu ul li {
  position: relative;
  margin-right: 20px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #333;
  /* padding: 10px 15px; */
  display: block;
}

.main-menu ul li a:hover,
.main-menu ul li a:focus {
  color: #b40000;
  border-bottom: 1px solid #b40000;
}

.submenu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.submenu li {
  width: 200px;
}

.submenu li a {
  padding: 10px 15px;
  color: #333;
}

.submenu li a:hover {
  background: #f8f9fa;
  color: #007bff;
}

.main-menu ul li:hover .submenu {
  display: block;
}

.header-right-btn {
  display: flex;
  align-items: center;
}

.btn_2 {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 15px;
  border: 1px solid #ff6f00;
}

.header-btn2 {
  color: #333;
  text-decoration: none;
}

.header-btn2 span {
  font-weight: bold;
}

.mobile_menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .main-menu {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .header-info-left,
  .header-info-right {
    text-align: center;
    margin-bottom: 10px;
  }

  .header-info-right {
    margin-bottom: 0;
  }
}

/* ----------------Hero Section------------------------- */
#hero-section {
  background-image: url(../assets/images/city-736086_1280.jpg);
  background-color: #000;
  background-size: 100% 100%;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

#hero-section .container {
  display: flex;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-text p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ----------------About Section------------------------- */
#about-section {
  padding: 150px 0px;
}
#about-section .container {
  display: flex;
}

.about-image {
  width: 50%;
  position: relative;
}

.about-img {
  height: 746px;
  width: 100%;
  display: flex;
  justify-content: right;
}
.about-img img {
  width: 526px;
  height: 746px;
  border-top-left-radius: 20%;
}

.about-image .floating-card {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: #b40000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  color: #fff;
}
.about-image .floating-card h1,
.about-image .floating-card h2 {
  margin: 0;
  font-family: "Roboto";
  font-weight: 900;
}
.about-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.about-text .author-name {
  display: flex;
  align-items: center;
}

.about-text-container {
  width: 80%;
}

.about-text img {
  width: 80px;
  height: 50px;
}

/* ----------------Feature Section------------------------- */
#feature-section {
  background-color: #f8f4f4;
  padding: 60px 0px 150px 0px;
}
#feature-section .subtitle {
  text-align: center;
}
.feature-section-content {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

#feature-section .feature-cards-container {
  width: 66.67%;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 50px;
}

#feature-section .feature-card {
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: lighter;
}

#feature-section .feature-card img {
  width: 50px;
  height: 50px;
}

#feature-section .feature-form {
  width: 33.33%;
  background: #b40000;
  margin-left: 10px;
  box-sizing: border-box;
  border-top-right-radius: 30%;
  margin-top: 50px;
}

#feature-section .subtitle {
  margin-bottom: 0px !important;
}
#feature-section .body2 {
  margin-bottom: 20px;
}
.get-quote-form {
  /* background-color: #b40000; */
  padding: 30px;
  color: #fff !important;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

#feature-section input,
#feature-section select,
#feature-section textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}
#feature-section input::placeholder,
#feature-section select::placeholder,
#feature-section textarea::placeholder {
  color: #fff;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #fff;
  outline: none;
}

#feature-section button {
  background-color: #ff6f00;
  color: #fff;
  padding: 15px 10px;
  border: none;
}

#feature-section button:hover {
  background-color: #fff;
  color: #ff6f00;
  cursor: pointer;
}

/* ----------------why choose Section------------------------- */
#clientele .clientele-container {
  max-width: 50%;
  margin: auto;
  text-align: center;
  padding: 100px 50px;
}

.clientele-container h2,
.clientele-container p,
.clientele-container button {
  margin: 20px 0px 40px 0px;
}

.clientele-container h2 {
  color: #b40000;
}

/* ----------------Clientele Section------------------------- */

.clientele-showcase {
  background-color: #000;
  background-image: url(../assets/images/city-736086_1280.jpg);
  color: #fff;
  padding: 100px 0;
  background-size: 100% 100%;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientele-showcase .container {
  display: flex;
  justify-content: right;
}

.clientele-showcase .empty,
.clientele-showcase .showcase-text {
  background-color: transparent;
  width: 50%;
}

.clientele-showcase .slide {
  display: flex;
}

.clientele-showcase .slide hr {
  width: 25%;
  color: red;
  margin-top: 50px;
  margin-right: 20px;
  border: none;
  border-top: 3px solid #b40000;
}

.clientele-showcase .client-card {
  display: flex;
  align-items: center;
}

.clientele-showcase .client-image {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.clientele-showcase .client-image img {
  width: 100%;
  border-radius: 50%;
}

.clientele-showcase .body2 {
  margin: 0 0 0 10px;
  font-weight: 300;

  color: #aa9999;
}

#client-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

/* ----------------Blog Section------------------------- */
#blog-section {
  padding-bottom: 200px;
}

#blog-section .container {
  width: 60%;
}

#blog-section .title-text {
  width: 60%;
  margin: 80px auto;
}
#blog-section .title-text h2,
#blog-section .title-text p {
  text-align: center;
}
#blog-section .blogs {
  display: flex;
  align-items: center;
  gap: 30px;
}
#blog-section .blog-card {
  width: 50%;
  position: relative;
  height: 487px;
  width: 526px;
}

.blog-image-container {
  height: 334px;
  width: 526px;
  border-top-left-radius: 30%;
}
.blog-image-container img {
  height: 334px;
  width: 526px;
  border-top-left-radius: 30%;
}

.card-text-container {
  padding: 20px;
  width: 80%;
  /* height: 205px; */
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

/* ----------------Footer Section------------------------- */
#footer-section {
  position: relative;
  background-color: #2d0000;
}
#footer-section .contact-card {
  display: flex;
  position: absolute;
  top: -80px;
  background-color: #efe2e2;
  padding: 30px;
  width: 70%;
  justify-content: space-between;
}
#footer-section .supporter-info {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#footer-section .call-info {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#footer-section .primary-btn {
  border-radius: 40px;
  font-weight: 700 !important;
}

#footer-section h4,
#footer-section p {
  margin: 0 5px;
}
.footer-top {
  color: #fff;
  padding: 180px 0px 50px 0px;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 150px;
  height: 100px;
}
.footer-nav {
  margin-top: 80px;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer-nav ul li {
  display: inline;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.footer-contact {
  margin: 20px 0;
  padding: 20px 0px;
  border-top: 0.7px solid #573333;
  border-bottom: 0.7px solid #573333;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.footer-contact p {
  margin: 5px 0;
}
.footer-contact-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-social {
  margin: 10px 0;
}

.footer-social a {
  margin: 0 10px;
  display: inline-block;
}

.footer-social i {
  width: 30px !important;
  height: 30px !important;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
}

.appointment-btn {
  background-color: #fff;
  color: #2c0d0d;
  border: 1px solid #fff;
  padding: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: ease-in 0.2s;
}

.appointment-btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.footer-bottom p {
  margin: 0;
  font-size: 16px;
  color: #ccc;
  text-align: center;
}

.heart {
  color: red;
}
